Untitled-1.py
transify.xlsx
.gitignore
autoTransify.zip
transify.xlsx
check.py
test.xlsx
transify.xlsx
transify.xlsx
.DS_Store
transify1.json
~/Library/Application Support/Google/Chrome/DevToolsActivePort
~/Library/Application Support/Google/Chrome/First Run
~/Library/Application Support/Google/Chrome/Last Version
~/Library/Application Support/Google/Chrome/Local State
~/Library/Application Support/Google/Chrome/Variations
~/Library/Application Support/Google/Chrome/BrowserMetrics/BrowserMetrics-640EED03-B07C.pma
~/Library/Application Support/Google/Chrome/Default/Affiliation Database
~/Library/Application Support/Google/Chrome/Default/Affiliation Database-journal
~/Library/Application Support/Google/Chrome/Default/Cookies
~/Library/Application Support/Google/Chrome/Default/Cookies-journal
~/Library/Application Support/Google/Chrome/Default/Favicons
~/Library/Application Support/Google/Chrome/Default/Favicons-journal
~/Library/Application Support/Google/Chrome/Default/heavy_ad_intervention_opt_out.db
~/Library/Application Support/Google/Chrome/Default/heavy_ad_intervention_opt_out.db-journal
~/Library/Application Support/Google/Chrome/Default/History
~/Library/Application Support/Google/Chrome/Default/History-journal
~/Library/Application Support/Google/Chrome/Default/LOCK
~/Library/Application Support/Google/Chrome/Default/LOG
~/Library/Application Support/Google/Chrome/Default/LOG.old
~/Library/Application Support/Google/Chrome/Default/Login Data
~/Library/Application Support/Google/Chrome/Default/Login Data For Account
~/Library/Application Support/Google/Chrome/Default/Login Data For Account-journal
~/Library/Application Support/Google/Chrome/Default/Login Data-journal
~/Library/Application Support/Google/Chrome/Default/Network Action Predictor
~/Library/Application Support/Google/Chrome/Default/Network Action Predictor-journal
~/Library/Application Support/Google/Chrome/Default/Network Persistent State
~/Library/Application Support/Google/Chrome/Default/Preferences
~/Library/Application Support/Google/Chrome/Default/PreferredApps
~/Library/Application Support/Google/Chrome/Default/Reporting and NEL
~/Library/Application Support/Google/Chrome/Default/Reporting and NEL-journal
~/Library/Application Support/Google/Chrome/Default/Safe Browsing Cookies
~/Library/Application Support/Google/Chrome/Default/Safe Browsing Cookies-journal
~/Library/Application Support/Google/Chrome/Default/SCT Auditing Pending Reports
~/Library/Application Support/Google/Chrome/Default/Secure Preferences
~/Library/Application Support/Google/Chrome/Default/Shortcuts
~/Library/Application Support/Google/Chrome/Default/Shortcuts-journal
~/Library/Application Support/Google/Chrome/Default/Top Sites
~/Library/Application Support/Google/Chrome/Default/Top Sites-journal
~/Library/Application Support/Google/Chrome/Default/TransportSecurity
~/Library/Application Support/Google/Chrome/Default/Visited Links
~/Library/Application Support/Google/Chrome/Default/Web Data
~/Library/Application Support/Google/Chrome/Default/Web Data-journal
~/Library/Application Support/Google/Chrome/Default/AutofillStrikeDatabase/LOCK
~/Library/Application Support/Google/Chrome/Default/AutofillStrikeDatabase/LOG
~/Library/Application Support/Google/Chrome/Default/AutofillStrikeDatabase/LOG.old
~/Library/Application Support/Google/Chrome/Default/BudgetDatabase/LOCK
~/Library/Application Support/Google/Chrome/Default/BudgetDatabase/LOG
~/Library/Application Support/Google/Chrome/Default/BudgetDatabase/LOG.old
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/0bc1b4776e30ff86_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/1b78149567f41c32_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/2b23c556e94d9e73_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/03ae344f56d13d0f_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/4d77a424c3ff411c_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/6b4f8a998bb07edd_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/6e028627a43d1d87_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/9dcb95de5f54194d_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/9f547fd529e00012_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/21eda85e6499ed18_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/67c967e9311f8b76_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/72f54fa8d34bd8b0_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/93d81321f8c35eab_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/257b9ada9582cd59_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/880d4baa921def3f_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/1587cb202d5a0228_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/6761a0f5f439f8c1_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/7140eb8c5b3fa01f_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/15145040f7f12f31_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/37858840f63366c1_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/a0bc0a8ca02c083b_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/ac346a80863f523e_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/b823a725ba25e9f9_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/b0113626d8ba968d_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/bd9070975ab6f9dc_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/c1ffca152c5b52b8_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/c026d9e87fe5b54e_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/c46b4c4a6cd73c52_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/c6365e0430d2394a_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/cc71e04e4843bd80_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/cc334ff63a7378ce_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/d8e4901053a0c370_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/d4730885d968d444_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/ddfc14ae91b64247_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/df6e7b96b531c6c4_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/ea567149e78dda18_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/ecfed861fcff0d6c_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/f37f8c04cc24c69f_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/f52b869afa17ddbb_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/f261b678a33952b5_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/f536d18bbc6028a2_0
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/index
~/Library/Application Support/Google/Chrome/Default/Cache/Cache_Data/index-dir/the-real-index
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/000d7e8ec2e864a9_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/3fac2f6b69224d46_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/9dc06942b633ed24_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/73a0e85ca926d284_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/698eb9c1ccd8131f_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/5946114110684172_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/a987e02e0bde0380_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/a158125ada79b27b_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/bc404fecbf07f10a_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/c0117c8cc90e6293_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/c4318923bf01bab6_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/d2bcb8fcf9be9d8a_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/d008784deb08f349_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/f4f4e08f3e3d7f13_0
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/index
~/Library/Application Support/Google/Chrome/Default/Code Cache/js/index-dir/the-real-index
~/Library/Application Support/Google/Chrome/Default/Code Cache/wasm/index
~/Library/Application Support/Google/Chrome/Default/Code Cache/wasm/index-dir/the-real-index
~/Library/Application Support/Google/Chrome/Default/DawnCache/data_0
~/Library/Application Support/Google/Chrome/Default/DawnCache/data_1
~/Library/Application Support/Google/Chrome/Default/DawnCache/data_2
~/Library/Application Support/Google/Chrome/Default/DawnCache/data_3
~/Library/Application Support/Google/Chrome/Default/DawnCache/index
~/Library/Application Support/Google/Chrome/Default/Download Service/EntryDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Download Service/EntryDB/LOG
~/Library/Application Support/Google/Chrome/Default/Download Service/EntryDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Extension Scripts/000003.log
~/Library/Application Support/Google/Chrome/Default/Extension Scripts/CURRENT
~/Library/Application Support/Google/Chrome/Default/Extension Scripts/LOCK
~/Library/Application Support/Google/Chrome/Default/Extension Scripts/LOG
~/Library/Application Support/Google/Chrome/Default/Extension Scripts/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/Extension State/000003.log
~/Library/Application Support/Google/Chrome/Default/Extension State/CURRENT
~/Library/Application Support/Google/Chrome/Default/Extension State/LOCK
~/Library/Application Support/Google/Chrome/Default/Extension State/LOG
~/Library/Application Support/Google/Chrome/Default/Extension State/LOG.old
~/Library/Application Support/Google/Chrome/Default/Extension State/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/AvailabilityDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/EventDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/EventDB/LOG
~/Library/Application Support/Google/Chrome/Default/Feature Engagement Tracker/EventDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/GPUCache/data_0
~/Library/Application Support/Google/Chrome/Default/GPUCache/data_1
~/Library/Application Support/Google/Chrome/Default/GPUCache/data_2
~/Library/Application Support/Google/Chrome/Default/GPUCache/data_3
~/Library/Application Support/Google/Chrome/Default/GPUCache/index
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/000003.log
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/CURRENT
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/LOCK
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/LOG
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/LOG.old
~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SegmentInfoDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SegmentInfoDB/LOG
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SegmentInfoDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalDB/LOG
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalStorageConfigDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalStorageConfigDB/LOG
~/Library/Application Support/Google/Chrome/Default/Segmentation Platform/SignalStorageConfigDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Session Storage/000003.log
~/Library/Application Support/Google/Chrome/Default/Session Storage/CURRENT
~/Library/Application Support/Google/Chrome/Default/Session Storage/LOCK
~/Library/Application Support/Google/Chrome/Default/Session Storage/LOG
~/Library/Application Support/Google/Chrome/Default/Session Storage/LOG.old
~/Library/Application Support/Google/Chrome/Default/Session Storage/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/Sessions/Session_13323172683150890
~/Library/Application Support/Google/Chrome/Default/Sessions/Session_13323173385151876
~/Library/Application Support/Google/Chrome/Default/Sessions/Tabs_13323172696671448
~/Library/Application Support/Google/Chrome/Default/Sessions/Tabs_13323173385314880
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/000003.log
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/CURRENT
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/LOCK
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/LOG
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/LOG.old
~/Library/Application Support/Google/Chrome/Default/Site Characteristics Database/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/000003.log
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/CURRENT
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/LOCK
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/LOG
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/LOG.old
~/Library/Application Support/Google/Chrome/Default/Sync Data/LevelDB/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/commerce_subscription_db/LOCK
~/Library/Application Support/Google/Chrome/Default/commerce_subscription_db/LOG
~/Library/Application Support/Google/Chrome/Default/commerce_subscription_db/LOG.old
~/Library/Application Support/Google/Chrome/Default/coupon_db/LOCK
~/Library/Application Support/Google/Chrome/Default/coupon_db/LOG
~/Library/Application Support/Google/Chrome/Default/coupon_db/LOG.old
~/Library/Application Support/Google/Chrome/Default/optimization_guide_hint_cache_store/LOCK
~/Library/Application Support/Google/Chrome/Default/optimization_guide_hint_cache_store/LOG
~/Library/Application Support/Google/Chrome/Default/optimization_guide_hint_cache_store/LOG.old
~/Library/Application Support/Google/Chrome/Default/optimization_guide_model_metadata_store/LOCK
~/Library/Application Support/Google/Chrome/Default/optimization_guide_model_metadata_store/LOG
~/Library/Application Support/Google/Chrome/Default/optimization_guide_model_metadata_store/LOG.old
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/000003.log
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/CURRENT
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/LOCK
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/LOG
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/LOG.old
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/MANIFEST-000001
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/000003.log
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/CURRENT
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/LOCK
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/LOG
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/LOG.old
~/Library/Application Support/Google/Chrome/Default/shared_proto_db/metadata/MANIFEST-000001
~/Library/Application Support/Google/Chrome/GrShaderCache/data_0
~/Library/Application Support/Google/Chrome/GrShaderCache/data_1
~/Library/Application Support/Google/Chrome/GrShaderCache/data_2
~/Library/Application Support/Google/Chrome/GrShaderCache/data_3
~/Library/Application Support/Google/Chrome/GrShaderCache/index
~/Library/Application Support/Google/Chrome/ShaderCache/data_0
~/Library/Application Support/Google/Chrome/ShaderCache/data_1
~/Library/Application Support/Google/Chrome/ShaderCache/data_2
~/Library/Application Support/Google/Chrome/ShaderCache/data_3
~/Library/Application Support/Google/Chrome/ShaderCache/index
